@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/st-poster.jpg");
  background-position: center;
  background-size: cover;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.right {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/borat-poster.jpg");
  background-position: center;
  background-size: cover;
}

.home-butt {
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid white;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.home-butt:hover {
  background-color: #52be52;
}

nav {
  display: flex;
  height: 70px;
  width: 91.5vw;
  padding-top: 30px;
  // margin: 20px 0px 0px 0px;
  background-color: black;
  align-items: center;
  justify-content: flex-end;
}

nav button {
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  height: 50px;
  width: 125px;
  margin: 5px;
}
nav button:hover {
  background-color: #52be52;
}

.link {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.movie {
  width: 90px;
  margin: 300px 0 0 30px;
}

.movie h1 {
  transform: rotate(-90deg);
  font-size: 100px;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 5em;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 20px;
}

.text-secondary {
  color: rgb(37, 208, 37);
}

.title h1 {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

.inputs {
  display: flex; 
  align-items: flex-end;
  
}

.search {
  margin-top: 30px;
  margin-right: 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px black;
  padding: 5px;
}

.search:focus {
  box-shadow: 0 0 5px rgb(37, 208, 37);
}

.dropdown {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px black;
  padding: 5px;
}

.cards {
  width: 90vw;
  display: flex;
  flex-wrap: wrap; 
  margin-top: 30px;
  justify-content: center;
  align-items: center;  
}

.card {
  width: 225px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  color: white;
}

.card img {
  height: 350px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 100px);
  margin-top: 15px;
}

.big-card {
  height: calc(100vh - 100px);
  width: 75vw;
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: black;
  color: white;
}

.filters {
  width: 80vw;
  flex-direction: row;
}

.filters input, select {
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster-img {
  height: calc(100vh - 108px);
  border-radius: 26px;
}

.card-left {
  width: 50%;
}

.card-right {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin: auto 0;
}

.ratings {
  margin: 10px 0;
}

.tagline {
  margin: 10px 0;
  font-weight: 500;
}

.overview {
  font-size: 20px;
}

.movie-title {
  margin-top: 5px;
  font-size: 15px;
}

.show-title {
  font-size: 15px;
  text-align: center;
}

.film-title {
  font-size: 40px;
  text-align: left;
  font-weight: 600;
}

strong {
  font-weight: 600;
}
.loading {
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream-butt {
  height: 50px;
  width: auto;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.seasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.season {
  width: 150px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(37, 208, 37);;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.season:hover {
  background-color: rgb(31, 160, 31);;
}

.big-card-series {
  height: calc(100vh - 108px);
  width: 90vw;
  border: 4px solid black;
  border-radius: 30px;
}

.color-primary {
  color: white;
}

.tv-info {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.episodes {
  height: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.top {
  margin: 20px;
}

.top h1 {
  font-weight: 700;
  color: rgb(37, 208, 37);
  padding-left: 42px;
}

.page-num {
  margin: 30px;
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}

.page-num button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 5px black;
  text-align: center;
  background-color: black;
  color: rgb(37, 208, 37);
  font-weight: 700;
}

.small-poster {
  height: 250px;
  width: auto;
}

.text-primary {
  color: white;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid rgb(37, 208, 37); 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}